:root {
    font-size: 2.5vw;
    --font-1: "jaf-bernina-sans", "Verdana", "Trebuchet MS", sans-serif;
    --font-2: "azo-sans-web", "Tahoma", "Arial", sans-serif
}

a {
    color: var(--en-2l)
}

h1 {
    font-size: 1.17em !important;
}

h2 {
    font-size: 1.15em !important;
}

h3 {
    font-size: 1.13em !important;
}

body {
    font-size: 1.4rem;
    margin: 0;
    padding: 0
}

#app {
    --en-1d: rgb(233, 29, 81);
    --en-2d: rgb(232, 90, 66);
    --en-3d: rgb(231, 127, 37);
    --en-1m: rgb(236, 65, 102);
    --en-2m: rgb(238, 117, 85);
    --en-3m: rgb(240, 155, 41);
    --en-1l: rgb(240, 110, 143);
    --en-2l: rgb(244, 157, 119);
    --en-3l: rgb(250, 201, 63);
    --stack-bg-color: rgb(39, 31, 31);
    --controls-bg-color: rgb(53, 53, 53);
    --controls-shadow-color: rgb(37, 37, 37);
    --modal-bg-color: rgb(39, 39, 39);
    --logo-light-color: rgb(204, 228, 234);
    --card-bg-color: white;
    --card-text-color: rgb(44, 62, 80);
    --card-innershadow-color: rgb(191, 214, 221);
    --card-outershadow-color: rgb(150, 184, 194);
    --card-appeal-innershadow-color: rgb(247, 131, 77);
    --card-appeal-outershadow-color: rgb(187, 96, 54);
    --card-bot-innershadow-color: rgb(89, 161, 209);
    --card-bot-outershadow-color: rgb(74, 134, 173);
    --takedown-bg-color: rgb(255, 112, 112);
    --takedown-shadow-color: rgb(143, 65, 65);
    --leaveup-bg-color: rgb(187, 236, 106);
    --leaveup-shadow-color: rgb(102, 131, 55);
    --examine-bg-color: rgb(124, 218, 250);
    --examine-shadow-color: rgb(81, 137, 156);
    --takedown-text-color: rgb(180, 80, 80);
    --keepup-text-color: rgb(126, 160, 71);
    --button-basic-bg-color: rgb(140, 226, 255);
    --button-basic-shadow-color: rgb(86, 145, 165);
    --button-disabled-bg-color: #999;
    --button-disabled-shadow-color: #5e5d5d;
    --button-highlight-bg-color: var(--en-2m);
    --button-highlight-shadow-color: rgb(148, 72, 50);
    --button-alt-bg-color: var(--leaveup-bg-color);
    --button-alt-shadow-color: var(--leaveup-shadow-color);
    --examine-popup-incomplete-bg-color: rgb(215, 215, 215);
    --examine-popup-complete-bg-color: rgb(230, 230, 230);
    --examine-popup-text-color: rgb(44, 62, 80);
    --timer-bg-color: rgb(27, 19, 19);
    --timer-bar-bg-color: var(--en-2d);
    --timer-overlay-color: rgba(255, 255, 255, .7);
    --timer-alert-color: rgb(199, 54, 54);
    --fade-bg-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .2) 90%)
}

button {
    margin-bottom: 1.5rem;
    cursor: pointer
}

.btn-basic {
    --press-height: .4rem;
    background-color: var(--button-basic-bg-color);
    background-image: var(--fade-bg-gradient);
    box-shadow: 0 var(--press-height) var(--button-basic-shadow-color);
    border: none;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    font-family: var(--font-2), Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
    color: #0000008c;
    cursor: pointer
}

.btn-basic:active {
    --press-height: .2rem;
    -webkit-transform: translateY(.2rem);
    transform: translateY(.2rem)
}

.btn-basic.highlight {
    background-color: var(--button-highlight-bg-color);
    box-shadow: 0 var(--press-height) var(--button-highlight-shadow-color)
}

.btn-basic.alt {
    background-color: var(--button-alt-bg-color);
    box-shadow: 0 var(--press-height) var(--button-alt-shadow-color)
}

.btn-basic.shine {
    position: relative;
    overflow: hidden
}

.back-btn {
    width: 100%;
    margin-bottom: 0;
    border-radius: 0
}

@media (min-width: 400px) {
    :root {
        font-size: 10px
    }
}

@media (max-height: 660px) {
    .btn-basic {
        font-size: 1.65rem !important
    }
}

.cardDescription img{
    height: auto !important;
}

/* scroll bar */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 8px;

}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--button-basic-bg-color);
    border-radius: 8px;
}

.control-area {
    --btn-frame-diameter: 100px;
    --btn-frame-small-diameter:50px;
    --btn-frame-small-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    z-index: 900;
    height: 12vh;
    min-height: 80px;
    max-height: 100px;
    padding-bottom: max(calc(env(safe-area-inset-bottom) + .5rem),1.5rem)
}

.button-frame {
    box-sizing: border-box;
    height: var(--btn-frame-diameter);
    width: var(--btn-frame-diameter);
    margin-left: -1%;
    padding: .3rem;
    background-color: var(--stack-bg-color);
    border: 1rem solid var(--controls-bg-color);
    border-radius: 100%;
    box-shadow: 0 .2rem 0 var(--controls-shadow-color);
    position: relative;
    z-index: 100
}

.button-frame>button {
    box-sizing: border-box;
    width: calc(var(--btn-frame-diameter) - 2.6rem);
    height: calc(var(--btn-frame-diameter) - 2.6rem);
    padding: 25%;
    position: relative;
    top: -.4rem;
    border-radius: 100%;
    border: none;
    background-origin: content-box,border-box;
    background-size: 100% 100%,100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: luminosity,normal;
    transition: background-color .1s linear
}
.button-frame>button:active:not(:disabled) {
    box-shadow: none;
    top: 0
}

.button-takedown{
    background-color: var(--takedown-bg-color);
    box-shadow: 0 .4rem var(--takedown-shadow-color);
    background-image: url(../assets/dislike.png),var(--fade-bg-gradient)
}
.button-leaveup{
    background-color: var(--leaveup-bg-color);
    box-shadow: 0 .4rem var(--leaveup-shadow-color);
    background-image: url(../assets/like.png),var(--fade-bg-gradient)
}
.button-opennews{
    background-color: var(--examine-bg-color);
    box-shadow: 0 .4rem var(--examine-shadow-color);
    background-image: url(../assets/eye.svg),var(--fade-bg-gradient)
}
.button-frame.small {
    position: relative;
    height: var(--btn-frame-small-diameter);
    width: var(--btn-frame-small-diameter);
    min-height: 62px;
    min-width: 62px;
    top: min(var(--btn-frame-small-top),9px)
}
.button-frame.small>button {
    width: calc(var(--btn-frame-small-diameter) - 2.6rem);
    height: calc(var(--btn-frame-small-diameter) - 2.6rem);
    min-height: calc(62px - 2.6rem);
    min-width: calc(62px - 2.6rem);
    padding: 17%
}