@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito:wght@200&family=Poppins:wght@400;700&display=swap');

:root {
    font-size: 2.5vw;
}

body {
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

a {
    color: var(--en-2l)
}

h1 {
    font-size: 1.17em !important;
}

h2 {
    font-size: 1.15em !important;
}

h3 {
    font-size: 1.13em !important;
}

#app {
    --en-1d: rgb(233, 29, 81);
    --en-2d: rgb(232, 90, 66);
    --en-3d: rgb(231, 127, 37);
    --en-1m: rgb(236, 65, 102);
    --en-2m: rgb(238, 117, 85);
    --en-3m: rgb(240, 155, 41);
    --en-1l: rgb(240, 110, 143);
    --en-2l: rgb(244, 157, 119);
    --en-3l: rgb(250, 201, 63);
    --stack-bg-color: #101318;
    --controls-bg-color: rgb(53, 53, 53);
    --controls-shadow-color: rgb(37, 37, 37);
    --logo-light-color: rgb(204, 228, 234);
    --card-bg-color: white;
    --card-text-color: rgb(44, 62, 80);
    --card-innershadow-color: rgb(191, 214, 221);
    --card-outershadow-color: rgb(150, 184, 194);
    --card-appeal-innershadow-color: rgb(247, 131, 77);
    --card-appeal-outershadow-color: rgb(187, 96, 54);
    --card-bot-innershadow-color: rgb(89, 161, 209);
    --card-bot-outershadow-color: rgb(74, 134, 173);
    --keepup-text-color: rgb(126, 160, 71);
    --button-basic-bg-color: rgb(140, 226, 255);
    --button-basic-shadow-color: rgb(86, 145, 165);
    --button-disabled-bg-color: #999;
    --button-disabled-shadow-color: #5e5d5d;
    --button-highlight-bg-color: var(--en-2m);
    --button-highlight-shadow-color: rgb(148, 72, 50);
    --button-alt-bg-color: var(--leaveup-bg-color);
    --button-alt-shadow-color: var(--leaveup-shadow-color);
    --examine-popup-incomplete-bg-color: rgb(215, 215, 215);
    --examine-popup-complete-bg-color: rgb(230, 230, 230);
    --examine-popup-text-color: rgb(44, 62, 80);
    --timer-bg-color: rgb(27, 19, 19);
    --timer-bar-bg-color: var(--en-2d);
    --timer-overlay-color: rgba(255, 255, 255, .7);
    --timer-alert-color: rgb(199, 54, 54);
    --fade-bg-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .2) 90%);
    --mobile-width: 900px;
}

button {
    margin-bottom: 1.5rem;
    font-family: 'Nunito', sans-serif;
    cursor: pointer
}

.btn-basic {
    --press-height: .4rem;
    border-radius: 9.75px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 10%, rgba(0, 0, 0, 0.20) 90%), #E8EBEC;
    box-shadow: 0px 3.9px 0px 0px #8A8A8A;
    border: none;
    padding: 1.2rem 1.5rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.55);
    cursor: pointer;
    position: relative;
    z-index: 1000;
}

.btn-basic:active {
    --press-height: .2rem;
    -webkit-transform: translateY(.2rem);
    transform: translateY(.2rem)
}

.btn-basic:hover {
    border-radius: 9.75px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 10%, rgba(0, 0, 0, 0.20) 90%), #2871FF;
    box-shadow: 0px 3.9px 0px 0px #153E7A;
    color: #BFE6FF;
}

.btn-basic.alt {
    background-color: var(--button-alt-bg-color);
    box-shadow: 0 var(--press-height) var(--button-alt-shadow-color)
}

.btn-basic.shine {
    position: relative;
    overflow: hidden
}

.top-bar {
    margin-bottom: 0;
    border-radius: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 10%, rgba(0, 0, 0, 0.20) 90%), #141F35;
    box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.25);
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;

    >div {
        background: transparent;
        box-shadow: none;
        cursor: pointer;
    }
}

@media (min-width: 400px) {
    :root {
        font-size: 10px
    }
}

@media (max-height: 660px) {
    .btn-basic {
        font-size: 1.5rem !important;
        padding: 0;
    }
}

.cardDescription img {
    width: 100%;
    height: auto !important;
}

/* scroll bar */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 8px;

}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--button-basic-bg-color);
    border-radius: 8px;
}

.bottom-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 900;
}

.control-area {
    --btn-frame-diameter: 100px;
    --btn-frame-small-diameter: 50px;
    --btn-frame-small-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 150px;
    padding: 7px;
    margin-bottom: 10px;
}

.card-area {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.button-frame {
    box-sizing: border-box;
    height: var(--btn-frame-diameter);
    width: var(--btn-frame-diameter);
    margin-left: -1%;
    padding: .3rem;
    background-color: var(--stack-bg-color);
    border: 1rem solid var(--controls-bg-color);
    border-radius: 100%;
    position: relative;
    z-index: 100
}

.button-frame>button {
    box-sizing: border-box;
    width: calc(var(--btn-frame-diameter) - 2.6rem);
    height: calc(var(--btn-frame-diameter) - 2.6rem);
    padding: 25%;
    position: relative;
    top: -.4rem;
    border-radius: 100%;
    border: none;
    background-origin: content-box, border-box;
    background-size: 100% 100%, 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: luminosity, normal;
    transition: background-color .1s linear
}

.button-frame>button:active:not(:disabled) {
    box-shadow: none;
    top: 0
}

.button-takedown {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 10%, rgba(0, 0, 0, 0.20) 90%), #FF9270;
    box-shadow: 0 .4rem var(--takedown-shadow-color);
    box-shadow: 0px 3.9px 0px 0px #8F4141;
    background-image: url(../assets/dislike.png), var(--fade-bg-gradient)
}

.button-leaveup {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 10%, rgba(0, 0, 0, 0.20) 90%), #7CEC6A;
    box-shadow: 0px 3.9px 0px 0px #668337;
    background-image: url(../assets/like.png), var(--fade-bg-gradient)
}

.button-opennews {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 10%, rgba(0, 0, 0, 0.20) 90%), #7CE3FA;
    box-shadow: 0px 3.9px 0px 0px #51899C;
    background-image: url(../assets/eye.png), var(--fade-bg-gradient)
}

.button-frame.small {
    position: relative;
    height: var(--btn-frame-small-diameter);
    width: var(--btn-frame-small-diameter);
    min-height: 62px;
    min-width: 62px;
    top: min(var(--btn-frame-small-top), 9px)
}

.button-frame.small>button {
    width: calc(var(--btn-frame-small-diameter) - 2.6rem);
    height: calc(var(--btn-frame-small-diameter) - 2.6rem);
    min-height: calc(62px - 2.6rem);
    min-width: calc(62px - 2.6rem);
    padding: 17%
}

.promptbox {
    height: 100px;
    width: 100px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 60%;
    opacity: 1;
    transition: 300ms;
    pointer-events: none;
    z-index: 100000;
}

.tapperoo {
    height: 25%;
    width: 25%;
    position: absolute;
    top: 20%;
    left: 33%;
    border-radius: 100px;
    background-color: #0095dd;
    z-index: -1;
    animation: tapperoo 3s infinite;
}

@keyframes tapperoo {
    0% {
        height: 25%;
        width: 25%;
    }

    50% {
        height: 5%;
        width: 35%;
        opacity: 0;
        transform: translate(-250%);
    }

    100% {
        opacity: 0;
    }
}

.tap-gesture {
    position: absolute;
    transform: rotate(30deg);
    animation: handMove 3s infinite;
}

@keyframes handMove {
    0% {
        transform: rotate(30deg);
    }

    50% {
        transform: translate(-60%, -10%) rotate(-30deg) scale(0.9);
    }

    100% {
        transform: rotate(30deg);
    }
}