:root {
    font-size: 2.5vw;
    --font-1: "jaf-bernina-sans", "Verdana", "Trebuchet MS", sans-serif;
    --font-2: "azo-sans-web", "Tahoma", "Arial", sans-serif
}

a {
    color: var(--en-2l)
}

body {
    font-size: 1.4rem;
    margin: 0;
    padding: 0
}

#app {
    --en-1d: rgb(233, 29, 81);
    --en-2d: rgb(232, 90, 66);
    --en-3d: rgb(231, 127, 37);
    --en-1m: rgb(236, 65, 102);
    --en-2m: rgb(238, 117, 85);
    --en-3m: rgb(240, 155, 41);
    --en-1l: rgb(240, 110, 143);
    --en-2l: rgb(244, 157, 119);
    --en-3l: rgb(250, 201, 63);
    --stack-bg-color: rgb(39, 31, 31);
    --controls-bg-color: rgb(53, 53, 53);
    --controls-shadow-color: rgb(37, 37, 37);
    --modal-bg-color: rgb(39, 39, 39);
    --logo-light-color: rgb(204, 228, 234);
    --card-bg-color: white;
    --card-text-color: rgb(44, 62, 80);
    --card-innershadow-color: rgb(191, 214, 221);
    --card-outershadow-color: rgb(150, 184, 194);
    --card-appeal-innershadow-color: rgb(247, 131, 77);
    --card-appeal-outershadow-color: rgb(187, 96, 54);
    --card-bot-innershadow-color: rgb(89, 161, 209);
    --card-bot-outershadow-color: rgb(74, 134, 173);
    --takedown-bg-color: rgb(255, 112, 112);
    --takedown-shadow-color: rgb(143, 65, 65);
    --leaveup-bg-color: rgb(187, 236, 106);
    --leaveup-shadow-color: rgb(102, 131, 55);
    --examine-bg-color: rgb(124, 218, 250);
    --examine-shadow-color: rgb(81, 137, 156);
    --takedown-text-color: rgb(180, 80, 80);
    --keepup-text-color: rgb(126, 160, 71);
    --button-basic-bg-color: rgb(140, 226, 255);
    --button-basic-shadow-color: rgb(86, 145, 165);
    --button-disabled-bg-color: #999;
    --button-disabled-shadow-color: #5e5d5d;
    --button-highlight-bg-color: var(--en-2m);
    --button-highlight-shadow-color: rgb(148, 72, 50);
    --button-alt-bg-color: var(--leaveup-bg-color);
    --button-alt-shadow-color: var(--leaveup-shadow-color);
    --examine-popup-incomplete-bg-color: rgb(215, 215, 215);
    --examine-popup-complete-bg-color: rgb(230, 230, 230);
    --examine-popup-text-color: rgb(44, 62, 80);
    --timer-bg-color: rgb(27, 19, 19);
    --timer-bar-bg-color: var(--en-2d);
    --timer-overlay-color: rgba(255, 255, 255, .7);
    --timer-alert-color: rgb(199, 54, 54);
    --fade-bg-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .2) 90%)
}

button {
    margin-bottom: 1.5rem;
}

.btn-basic {
    --press-height: .4rem;
    background-color: var(--button-basic-bg-color);
    background-image: var(--fade-bg-gradient);
    box-shadow: 0 var(--press-height) var(--button-basic-shadow-color);
    border: none;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    font-family: var(--font-2), Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
    color: #0000008c;
    cursor: pointer
}

.btn-basic:active {
    --press-height: .2rem;
    -webkit-transform: translateY(.2rem);
    transform: translateY(.2rem)
}

.btn-basic.highlight {
    background-color: var(--button-highlight-bg-color);
    box-shadow: 0 var(--press-height) var(--button-highlight-shadow-color)
}

.btn-basic.alt {
    background-color: var(--button-alt-bg-color);
    box-shadow: 0 var(--press-height) var(--button-alt-shadow-color)
}

.btn-basic.shine {
    position: relative;
    overflow: hidden
}

.back-btn{
    width: 100%;
}

@media (min-width: 400px) {
    :root {
        font-size: 10px
    }
}

@media (max-height: 660px) {
    .btn-basic {
        font-size: 1.65rem !important
    }
}